xsd/_content_NeTEx_Lev2_ext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Note that this simplified XSD does not in any way replace the full NeTEx XSD. It is not guaranteed that the XSD is free from errors.-->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" version="1.1.1" id="content_NeTEx_Lev2_ext">
	<xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml_combo_v3_2_1_simplified.xsd"/>
	<xsd:include schemaLocation="_content_NeTEx_EPIP.xsd"/>
	<xsd:annotation>
		<xsd:documentation>The intention of this XSD is to provide a simplified schema that represents a subset of the full NeTEx-schema covering the European Passenger Information Profile.
		This file should not be interpreted as being normative. Neither does this XSD replace the offical NeTEx XSD schemas. It should be used in addition to the offical NeTEx XSD schemas and not instead of.
		
		The official NeTEx XSD schema and basic examples are available at Github https://github.com/NeTEx-CEN/NeTEx  (note that this is the only source for NeTEx latest official schema) 
		Note that parts of the content in this file consists of extracts from files in the official NeTEx XSD schema and therefore are covered by Copyright CEN, Crown Copyright 2009-2020.
		Any such copyrights still apply.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="GeneralFrame_VersionStructure">
		<xsd:sequence>
			<xsd:group ref="VersionFrameGroup" minOccurs="0"/>
			<xsd:element ref="members" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
	</xsd:complexType>
	<xsd:element name="members" type="members_RelStructure"/>
	<xsd:complexType name="members_RelStructure">
		<xsd:sequence>
			<xsd:element ref="JourneyAccounting" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="ModificationSetAttributeGroup"/>
	</xsd:complexType>
	<!-- da netex_journeyAccounting_support.xsd inizio -->
	<xsd:simpleType name="JourneyAccountingEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Accounting Coverage.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="contract">
				<xsd:annotation>
					<xsd:documentation>ERA X01: The connection is guaranteed under any circumstances.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="subsidy">
				<xsd:annotation>
					<xsd:documentation>ERA X02: The connection is normally guaranteed, although the connection time available is shorter than the location connection time.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other">
				<xsd:annotation>
					<xsd:documentation>ERA X03: The connection is not guaranteed, although the connection time available is longer than the location connection time.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:element name="JourneyAccountingRef" type="JourneyAccountingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Reference to a JOURNEY ACCOUNTING.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- adjusted according to epip style -->
	<xsd:complexType name="JourneyAccountingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a JOURNEY ACCOUNTING.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
            <xsd:extension base="xsd:normalizedString">
            	<xsd:attributeGroup ref="VersionOfObjectRefAttributeGroup"/>
                <xsd:attribute name="order" type="xsd:integer">
                    <xsd:annotation>
                        <xsd:documentation>Order of element.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="SupplyContractRef" type="SupplyContractRefStructure">
		<xsd:annotation>
			<xsd:documentation>Reference to a SUPPLY CONTRACT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- adjusted according to epip style -->
	<xsd:complexType name="SupplyContractRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SUPPLY CONTRACT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString">
				<xsd:attributeGroup ref="VersionOfObjectRefAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- da netex_journeyAccounting_support.xsd fine -->
	<!-- da netex_journeyAccounting_version.xsd inizio -->
	<xsd:element name="JourneyAccounting" type="JourneyAccounting_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Parameters characterizing VEHICLE JOURNEYs or SPECIAL SERVICEs used for accounting purposes in particular in contracts between ORGANISATIONs.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="JourneyAccounting_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for ACCOUNTING.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:sequence>
				<xsd:sequence>
					<xsd:group ref="DataManagedObjectElementL2_Group"/>
				</xsd:sequence>
				<xsd:sequence>
					<xsd:group ref="AssignmentGroup"/>
				</xsd:sequence>
			</xsd:sequence>
			<xsd:sequence>
				<xsd:group ref="JourneyAccountingGroup"/>
			</xsd:sequence>
		</xsd:sequence>
		<xsd:attributeGroup ref="EntityAttributeGroup"/>
	</xsd:complexType>
	<xsd:group name="JourneyAccountingGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a JOURNEY ACCOUNTING.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AccountedObjectRef" type="AccountedObjectRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Object for which this accounts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OrganisationRef" type="OrganisationRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ORGANISATION contracting service.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="SupplyContractRef" minOccurs="0"/>
			<xsd:element name="AccountingCode" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Accounting code to assign to Journey.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AccountingType" type="JourneyAccountingEnumeration" default="contract" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of coverage contract, subsidy. Default is contract.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Partial" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Whether all or part of the journey is covered.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Distance" type="DistanceType" default="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Distance for accounting purposes. If omitted use Journey distance.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Duration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Specifies the paid duration for this service journey. Might differ from the run time.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- adjusted according to epip style -->
	<xsd:complexType name="AccountedObjectRefStructure">
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString">
				<xsd:attributeGroup ref="VersionOfObjectRefAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- da netex_journeyAccounting_version.xsd fine -->
	<!-- da netex_assignment_version.xsd inizio -->
	<xsd:group name="AssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a  ASSIGNMENT.  An Assigment assignes a property  to an aelent element. It has a name and n order.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of ASSIGNMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of  ASSIGNMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- da netex_assignment_version.xsd fine -->
	<!-- versione di DataManagedObjectElement_Group di epip con l'aggiunta di validityConditions -->
	<xsd:group name="DataManagedObjectElementL2_Group">
		<xsd:sequence>
			<xsd:group ref="EntityInVersionL2ElementGroup" minOccurs="0"/>
			<xsd:element ref="keyList" minOccurs="0"/>
			<xsd:element ref="BrandingRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- versione di EntityInVersionElementGroup di epip con l'aggiunta di validityConditions -->
	<xsd:group name="EntityInVersionL2ElementGroup">
		<xsd:annotation>
			<xsd:documentation>Common Properties of an ENTITY IN VERSION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<xsd:element name="validityConditions" type="validityConditionsL2Structure">
					<xsd:annotation>
						<xsd:documentation>VALIDITY CONDITIONs conditioning entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="ValidBetween" maxOccurs="unbounded"/>
			</xsd:choice>
			<xsd:element ref="alternativeTexts" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- versione di validityConditionsStructure di epip con l'aggiunta di ValidityConditionRef -->
	<xsd:complexType name="validityConditionsL2Structure">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element ref="ValidityConditionRef"/>
			<xsd:element ref="ValidityCondition">
				<xsd:annotation>
					<xsd:documentation>Only allowed to be used in EPIP as a simple name. One special case is to use this to explain why the accessibility is only partial in an ACCESSIBILTY ASSESSMENT having a partial LIMITATION STATUS.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="ValidityConditionRef" type="ValidityConditionRefStructure">
        <xsd:annotation>
            <xsd:documentation>Reference to a VALIDITY CONDITION.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ValidityConditionRefStructure">
        <xsd:annotation>
            <xsd:documentation>Type for a reference to a VALIDITY CONDITION.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:normalizedString">
				<xsd:attributeGroup ref="VersionOfObjectRefAttributeGroup"/>
			</xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
	<!-- versioni di ServiceCalendar e figli con ShortName e PrivateCode (presi da epip) (inizio) -->
	<xsd:complexType name="ServiceCalendarFrameL2_VersionStructure">
		<xsd:sequence>
			<xsd:sequence>
				<xsd:group ref="VersionFrameGroup" minOccurs="0"/>
				<xsd:element name="ServiceCalendar" type="ServiceCalendarL2Structure" minOccurs="0"/>
			</xsd:sequence>
		</xsd:sequence>
		<xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
	</xsd:complexType>
	<xsd:complexType name="ServiceCalendarL2Structure">
		<xsd:sequence>
			<xsd:group ref="DataManagedObjectElement_Group"/>
			<xsd:element ref="Name" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of SERVICE CALENDAR.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ShortName" minOccurs="0"/>
			<xsd:element name="FromDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Start date of SERVICE CALENDAR.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>End date of SERVICE CALENDAR. Date is INCLUSIVE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dayTypes" type="dayTypesL2Structure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DAY TYPEs used in calendar.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="operatingDays" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Days found in calendar between start and end date. Dates must fall between the start and end date of the calendar.  There is a day for every date in the calendar validity period. Days do not have to be explicitly declared if there is no additional information.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="operatingPeriods" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>OPERATING PERIODs belonging to calendar. In EPIP each OPERATING PERIOD defines a set of OPERATING DAY dates.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="dayTypeAssignments" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Assignments of DAY TYPEs to specific OPERATING DAYs. The same DAY TYPE may be assigned to multiple Operating dates, and vice versa. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="EntityAttributeGroup"/>
	</xsd:complexType>
	<xsd:complexType name="dayTypesL2Structure">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="DayType" type="DayTypeL2Structure">
				<xsd:annotation>
					<xsd:documentation>A type of day characterized by one or more properties which affect public transport operation. For example: weekday in school holidays.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
        </xsd:choice>
    </xsd:complexType>
	<xsd:complexType name="DayTypeL2Structure">
		<xsd:sequence>
			<xsd:group ref="DataManagedObjectElement_Group"/>
			<xsd:element ref="Name" minOccurs="0"/>
			<xsd:element ref="ShortName" minOccurs="0"/>
			<xsd:element ref="Description" minOccurs="0"/>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
			<xsd:group ref="DaySpanGroup"/>
			<xsd:element name="properties" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Properties of the DAY TYPE.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="PropertyOfDay" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>A property which a day may possess, such as school holiday, weekday, summer, winter etc.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="timebands" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="Timeband" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
	</xsd:complexType>
	<!-- versioni di ServiceCalendar e figli con ShortName e PrivateCode (presi da epip) (fine) -->
	<!-- versioni di Resource e figli con ResponsiblePartRef, organisations modificata, groupsOfOperators aggiunto
		e vehicleTypes modificato (presi da epip) (inizio) -->
	<xsd:complexType name="ResourceFrameL2_VersionStructure">
        <xsd:sequence>
            <xsd:group ref="VersionFrameGroup" minOccurs="0"/>
            <xsd:element ref="dataSources" minOccurs="0"/>
            <xsd:element name="responsibilitySets" type="responsibilitySetsL2_RelStructure" minOccurs="0"/>
            <xsd:element ref="typesOfValue" minOccurs="0"/>
            <xsd:element name="organisations" type="organisationsL2Structure" minOccurs="0"/>
			<xsd:element name="groupsOfOperators" type="groupsOfOperatorsStructure" minOccurs="0"/>
            <xsd:element ref="equipments" minOccurs="0"/>
            <xsd:element name="vehicleTypes" type="vehicleTypesL2Structure" minOccurs="0"/>
			<xsd:element name="vehicleModels" type="vehicleModelsStructure" minOccurs="0"/>
			<xsd:element name="vehicles" type="vehiclesStructure" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
    </xsd:complexType>
	<!-- versioni aggiornate per responsibilitySets (inizio) -->
    <xsd:complexType name="responsibilitySetsL2_RelStructure">
        <xsd:sequence>
            <xsd:element name="ResponsibilitySet" type="ResponsibilitySetL2_VersionStructure" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="ModificationSetAttributeGroup"/>
    </xsd:complexType>
    <xsd:complexType name="ResponsibilitySetL2_VersionStructure">
        <xsd:sequence>
            <xsd:group ref="DataManagedObjectElement_Group"/>
            <xsd:element ref="PrivateCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A private code that uniquely identifies the element.
May be used for inter-operating with other (legacy)
systems.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="roles" type="rolesL2Structure" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Mandatory in EPIP</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
    </xsd:complexType>
    <xsd:complexType name="rolesL2Structure">
        <xsd:sequence>
            <xsd:element name="ResponsibilityRoleAssignment" type="ResponsibilityRoleAssignmentL2Structure" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ResponsibilityRoleAssignmentL2Structure">
        <xsd:sequence>
            <xsd:group ref="VersionedChildElementGroup" minOccurs="0"/>
            <xsd:element ref="ResponsibilitySetRef" minOccurs="0"/>
            <xsd:element ref="Description" minOccurs="0"/>
            <xsd:element ref="DataRoleType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Data Role type of RESPONSIBILITY ROLE.
• creates
• collects
• aggregates
Only a subset of data related roles are selected
for the EPIP, these distinguish between an
ORGANISATION originating the data (creates);
one collecting them from multiple sources but
without changing them (collects) and one which
integrates data sets (merging, correcting,
enhancing, etc.) (aggregates)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="StakeholderRoleType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Stakeholder role type of RESPONSIBILITY ROLE.
• Planning
• Operation
Only a subset of data roles are selected for the
EPIP, these distinguish between an
ORGANISATION that does ‘Planning’ (typically an
Authority); one that operate ‘Operation’ some aspect of the network (Operators, site managers,
etc.); and one having the legal ownership (city,
authority, etc.). This information is of relevance
for passengers, especially if they have questions
or complaints to address.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ResponsibleOrganisationRef" minOccurs="0"/>
			<xsd:element ref="ResponsiblePartRef" minOccurs="0"/>
            <xsd:element ref="ResponsibleAreaRef" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="EntityAttributeGroup"/>
    </xsd:complexType>
	<!-- versioni aggiornate per responsibilitySets (fine) -->
	<!-- versioni aggiornate per organisations (inizio) -->
	<xsd:complexType name="organisationsL2Structure">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element ref="Authority" maxOccurs="unbounded"/>
            <xsd:element name="Operator" type="OperatorL2_VersionStructure" maxOccurs="unbounded"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="OperatorL2_VersionStructure">
        <xsd:sequence>
            <xsd:group ref="DataManagedObjectElement_Group"/>
            <xsd:group ref="OrganisationContentGroupL2"/>
            <xsd:element ref="CountryRef" minOccurs="0"/>
            <xsd:element name="Address" type="RestrictedPostalAddress_VersionStructure" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Address of OPERATOR.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PrimaryMode" type="VehicleModeEnumeration" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Primary MODE of OPERATOR.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
			<xsd:element name="departments" type="departments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Departments of OPERATOR.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
        </xsd:sequence>
        <xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
    </xsd:complexType>
    <xsd:group name="OrganisationContentGroupL2">
        <xsd:sequence>
            <xsd:element ref="PublicCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Public code to use for ORGANISATION</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
			<!-- aggiunto PrivateCode per level 2 -->
			<xsd:element ref="PrivateCode" minOccurs="0"/>
            <xsd:element ref="CompanyNumber" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Company registration number including Country prefix.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="Name" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The name of the ORGANISATION</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ShortName" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A short name of the ORGANISATION.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="LegalName" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The legal name of the ORGANISATION, if different from Name.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
			<xsd:element name="TradingName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The Trading name of the ORGANISATION given to the Public - If different from Name or Legal Name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element ref="alternativeNames" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Dedicated to aliases (where AlternativeText is
more focused on translations).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="Description" minOccurs="0"/>
            <xsd:element ref="ContactDetails" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Mandatory in EPIP. Contact details for public use.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="OrganisationType" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Mandatory in EPIP. Type of ORGANISATION.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
	<xsd:complexType name="departments_RelStructure">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="DepartmentRef" type="DepartmentRefStructure"/>
            <xsd:element name="Department" type="Department_VersionStructure"/>
        </xsd:choice>
        <xsd:attributeGroup ref="ModificationSetAttributeGroup"/>
    </xsd:complexType>
	<xsd:complexType name="Department_VersionStructure">
        <xsd:sequence>
            <xsd:group ref="DataManagedObjectElement_Group"/>
            <xsd:group ref="DepartmentContentGroup"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
    </xsd:complexType>
	<xsd:group name="DepartmentContentGroup">
        <xsd:sequence>
			<xsd:element ref="Name" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The name of the ORGANISATION</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ShortName" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A short name of the ORGANISATION.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
			<xsd:element ref="Description" minOccurs="0"/>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
			<xsd:element name="units" type="organisationalUnitRefs_RelStructure" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Name of DEPARTMENT.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
	<xsd:complexType name="DepartmentRefStructure">
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString">
				<xsd:attributeGroup ref="VersionOfObjectRefAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="organisationalUnitRefs_RelStructure">
        <xsd:sequence>
            <xsd:element name="OrganisationalUnitRef" type="OrganisationalUnitRefStructure" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="ModificationSetAttributeGroup"/>
    </xsd:complexType>
	<xsd:complexType name="OrganisationalUnitRefStructure">
        <xsd:simpleContent>
            <xsd:extension base="xsd:normalizedString">
                <xsd:attributeGroup ref="VersionOfObjectRefAttributeGroup"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
	<!-- versioni aggiornate per organisations (fine) -->
	<!-- versioni aggiornate per groupsOfOperators (inizio) -->
	<xsd:complexType name="groupsOfOperatorsStructure">
        <xsd:sequence>
			<xsd:element name="GroupOfOperators" type="GroupOfOperators_VersionStructure" maxOccurs="unbounded"/>
		</xsd:sequence>
    </xsd:complexType>
	<xsd:complexType name="GroupOfOperators_VersionStructure">
        <xsd:sequence>
            <xsd:group ref="DataManagedObjectElement_Group"/>
            <xsd:group ref="GroupOfOperatorContentGroup"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
    </xsd:complexType>
	<xsd:group name="GroupOfOperatorContentGroup">
        <xsd:sequence>
			<xsd:element ref="Name" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The name of the ORGANISATION</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ShortName" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A short name of the ORGANISATION.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
			<xsd:element ref="Description" minOccurs="0"/>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
			<xsd:element name="members" type="operatorRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Operators in group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
        </xsd:sequence>
    </xsd:group>
	<xsd:complexType name="operatorRefs_RelStructure">
        <xsd:sequence>
            <xsd:element ref="OperatorRef" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="ModificationSetAttributeGroup"/>
    </xsd:complexType>
	<!-- versioni aggiornate per groupsOfOperators (fine) -->
	<!-- versioni aggiornate per vehicleTypes (inizio) -->
    <xsd:complexType name="vehicleTypesL2Structure">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="VehicleType" type="VehicleTypeL2_VersionStructure"/>
            <xsd:element name="Train" type="TrainL2_VersionStructure"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="VehicleTypeL2_VersionStructure">
        <xsd:sequence>
            <xsd:group ref="DataManagedObjectElement_Group"/>
            <xsd:element ref="Name" minOccurs="0"/>
            <xsd:element ref="Description" minOccurs="0"/>
			<!-- aggiunte PrivateCode per level 2 -->
            <xsd:element ref="PrivateCode" minOccurs="0"/>
            <xsd:group ref="VehicleTypePropertiesGroup"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
    </xsd:complexType>
	<xsd:complexType name="TrainL2_VersionStructure">
        <xsd:sequence>
            <xsd:group ref="DataManagedObjectElement_Group"/>
            <xsd:element ref="Name" minOccurs="0"/>
			<!-- aggiunto ShortName per level 2 -->
            <xsd:element ref="ShortName" minOccurs="0"/>
            <xsd:element ref="Description" minOccurs="0"/>
			<!-- aggiunte PrivateCode per level 2 -->
            <xsd:element ref="PrivateCode" minOccurs="0"/>
            <xsd:group ref="VehicleTypePropertiesGroup"/>
			<!-- aggiunte facilities per level 2 -->
			<xsd:element name="facilities" type="serviceFacilitiesL2_RelStructure" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Facilities of VEHICLE.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:group ref="TrainGroup"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
    </xsd:complexType>
	<xsd:complexType name="serviceFacilitiesL2_RelStructure">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="ServiceFacilitySetRef" type="ServiceFacilitySetRefStructure"/>
			<xsd:element name="ServiceFacilitySet" type="ServiceFacilitySet_VersionStructure" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Service FACILITY. Set of enumerated FACILITY values (Where available names are based on TPEG classifications, augmented with UIC etc.).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
		<xsd:attributeGroup ref="ModificationSetAttributeGroup"/>
	</xsd:complexType>
	<xsd:complexType name="ServiceFacilitySetRefStructure">
        <xsd:simpleContent>
            <xsd:extension base="xsd:normalizedString">
                <xsd:attributeGroup ref="VersionOfObjectRefAttributeGroup"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
	<!-- versioni aggiornate per vehicleTypes (fine) -->
	<!-- versioni aggiornate per vehicleModels (inizio) -->
    <xsd:complexType name="vehicleModelsStructure">
        <xsd:sequence>
            <xsd:element name="VehicleModel" type="VehicleModel_VersionStructure" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
	<xsd:complexType name="VehicleModel_VersionStructure">
        <xsd:sequence>
            <xsd:group ref="DataManagedObjectElement_Group"/>
            <xsd:element ref="Name" minOccurs="0"/>
            <xsd:element ref="Description" minOccurs="0"/>
			<xsd:element name="Manufacturer" type="MultilingualString" minOccurs="0"/>
			<xsd:choice>
				<xsd:element ref="VehicleTypeRef" minOccurs="0"/>
				<xsd:element ref="TrainRef" minOccurs="0"/>
			</xsd:choice>
        </xsd:sequence>
        <xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
    </xsd:complexType>
	<!-- versioni aggiornate per vehicleModels (fine) -->
	<!-- versioni aggiornate per vehicles (inizio) -->
    <xsd:complexType name="vehiclesStructure">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element ref="TrainElement"/>
			<xsd:element name="Vehicle" type="Vehicle_VersionStructure"/>
		</xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="Vehicle_VersionStructure">
        <xsd:sequence>
            <xsd:group ref="DataManagedObjectElement_Group"/>
			<xsd:element ref="Name" minOccurs="0"/>
            <xsd:element ref="ShortName" minOccurs="0"/>
			<xsd:element name="RegistrationNumber" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Licence plate of VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OperationalNumber" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Operational Number of VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
			<xsd:element ref="OperatorRef" minOccurs="0"/>
			<xsd:choice>
				<xsd:element ref="VehicleTypeRef" minOccurs="0"/>
				<xsd:element ref="TrainRef" minOccurs="0"/>
			</xsd:choice>
        </xsd:sequence>
        <xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
    </xsd:complexType>
	<!-- versioni aggiornate per vehicles (fine) -->
	<!-- versioni di Resource e figli con ResponsiblePartRef (presi da epip) (fine) -->
	<!-- versioni di Site e figli con quay modificate (presi da epip) (inizio) -->
	<xsd:complexType name="SiteFrameL2_VersionStructure">
		<xsd:choice>
			<xsd:sequence>
				<xsd:group ref="VersionFrameGroup" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="topographicPlaces" minOccurs="0"/>
				<xsd:element ref="groupsOfStopPlaces" minOccurs="0"/>
				<xsd:element name="stopPlaces" type="stopPlacesL2_RelStructure" minOccurs="0"/>
				<xsd:element ref="pointsOfInterest" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>POINTs OF INTEREST are required by the EC Priority action A of the ITS Directive. It is not expected that
POIs will be provided in NeTEx datasets; they will in most cases be defined in external databases
(INSPIRE, OSM, SPOI, or commercial datasets) and be referenced by SITE CONNECTIONs.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="tariffZones" minOccurs="0"/>
			</xsd:sequence>
		</xsd:choice>
		<xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
	</xsd:complexType>
	<xsd:complexType name="stopPlacesL2_RelStructure">
		<xsd:sequence>
			<xsd:element name="StopPlace" type="StopPlaceL2_VersionStructure" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="ModificationSetAttributeGroup"/>
	</xsd:complexType>
	<xsd:complexType name="StopPlaceL2_VersionStructure">
		<xsd:sequence>
			<xsd:group ref="SiteObjectElementGroupL2"/>
			<xsd:element ref="PublicCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short public code for passengers to use when uniquely identifying the stop by SMS and other self-service channels.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TransportMode" type="VehicleModeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Primary public transport MODEs that may be accessed through this STOP PLACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="PtSubmodeChoiceGroup" minOccurs="0"/>
			<xsd:element ref="OtherTransportModes" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Other public transport MODES which may be accessed through this STOP PLACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tariffZones" type="tariffZoneRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TARIFF ZONEs into which component falls.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="StopPlaceType" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Mandatory in EPIP</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="BorderCrossing" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether STOP PLACE is a border crossing, that is a point, at which an international boundary between two countries may be crossed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Weighting" minOccurs="0"/>
			<xsd:element ref="StopPlaceWeight" minOccurs="0"/>
			<xsd:element name="quays" type="quaysL2_RelStructure" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
	</xsd:complexType>
	<xsd:group name="SiteObjectElementGroupL2">
		<xsd:annotation>
			<xsd:documentation>Elements for a SITE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="SiteElementObjectElementGroup"/>
			<xsd:element name="facilities" type="siteFacilities_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>EPIP: Limited to facilities available at STOP PLACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- aggiunto TopographicPlaceView per level 2 -->
			<xsd:choice minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This is a primary Topographic place.</xsd:documentation>
				</xsd:annotation>
				<xsd:element ref="TopographicPlaceRef"/>
				<xsd:element ref="TopographicPlaceView"/>
			</xsd:choice>
			<xsd:element ref="additionalTopographicPlaces" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additional Topographic Places in which this object is located.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Locale" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Common LOCALE dependant properties. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="OrganisationRefGroup" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to OPERATOR of SITE.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:element ref="ParentSiteRef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>EPIP: Can only be a reference to a general STOP PLACE. Used if this is a monomodal STOPPLACE that is contained in that general STOP PLACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="levels" type="levelsL2_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>LEVELs found within SITE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="entrances" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ENTRANCEs to and within SITE</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="levelsL2_RelStructure">
		<xsd:choice maxOccurs="unbounded">
			<!-- aggiunto LevelRef per level 2 -->
			<xsd:element ref="LevelRef"/>
			<xsd:element ref="Level"/>
		</xsd:choice>
		<xsd:attributeGroup ref="ModificationSetAttributeGroup"/>
	</xsd:complexType>
	<xsd:complexType name="quaysL2_RelStructure">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element ref="QuayRef"/>
			<xsd:element name="Quay" type="QuayL2_VersionStructure"/>
		</xsd:choice>
        <xsd:attributeGroup ref="ModificationSetAttributeGroup"/>
    </xsd:complexType>
    <xsd:complexType name="QuayL2_VersionStructure">
        <xsd:sequence>
            <xsd:group ref="StopPlaceSpaceGroup"/>
            <xsd:element ref="PublicCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Pubic identifier code of QUAY.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="PlateCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Plate number for QUAY. An arbitrary asset number that may be placed on stop to identify it.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="destinations" type="destinationDisplayViews_RelStructure" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Default Destination headings for QUAY.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="CompassBearing" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Heading of QUAY relative to street.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="QuayType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Type of QUAY.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ParentQuayRef" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>if QUAY is a subzone of another QUAY, identifies parent.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
    </xsd:complexType>
	<xsd:complexType name="destinationDisplayViews_RelStructure">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element ref="DestinationDisplayRef"/>
			<xsd:element name="DestinationDisplayView" type="DestinationDisplayView_VersionStructure"/>
		</xsd:choice>
        <xsd:attributeGroup ref="ModificationSetAttributeGroup"/>
    </xsd:complexType>
	<xsd:complexType name="DestinationDisplayView_VersionStructure">
        <xsd:sequence>
            <xsd:element ref="Name" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="ModificationSetAttributeGroup"/>
    </xsd:complexType>
	<!-- versioni di Site e figli con quay modificate (presi da epip) (fine) -->
	<!-- versioni di Service e figli con route modificato (presi da epip) (inizio) -->
	<xsd:complexType name="ServiceFrameL2_VersionStructure">
		<xsd:sequence>
			<xsd:group ref="VersionFrameGroup" minOccurs="0"/>
			<xsd:element ref="Network" minOccurs="0"/>
			<xsd:element ref="additionalNetworks" minOccurs="0"/>
			<xsd:element ref="directions" minOccurs="0"/>
			<xsd:element ref="routePoints" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Not necessarily required in EPIP, compare what is annotated for routes.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="routeLinks" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Not necessarily required in EPIP, compare what is annotated for routes.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="routes" type="routesL2_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Not required in EPIP as data may not be available. However note that it is possible to align with SERVICE PATTERN, thus using the SCHEDULED STOP POINTs as a base for creating ROUTE POINTs, the POINTs IN JOURNEY
PATTERN for POINTs ON ROUTE, and the SERVICE LINKs for ROUTE LINKs </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lines" type="linesL2_RelStructure" minOccurs="0"/>
			<xsd:element ref="groupsOfLines" minOccurs="0"/>
			<xsd:element name="destinationDisplays" type="destinationDisplaysL2_RelStructure" minOccurs="0"/>
			<xsd:element name="scheduledStopPoints" type="scheduledStopPointsL2_RelStructure" minOccurs="0"/>
			<xsd:element name="serviceLinks" type="serviceLinksL2_RelStructure" minOccurs="0"/>
			<!-- aggiunto stopAreas per level 2 -->
			<xsd:element name="stopAreas" type="stopAreas_RelStructure" minOccurs="0"/>
			<xsd:element name="connections" type="connectionsL2Structure" minOccurs="0"/>
			<xsd:element ref="tariffZones" minOccurs="0"/>
			<xsd:element name="stopAssignments" type="stopAssignmentsL2Structure" minOccurs="0"/>
			<xsd:element name="journeyPatterns" type="journeyPatternsL2Structure" minOccurs="0"/>
			<xsd:element ref="notices" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
	</xsd:complexType>
	<!-- versioni aggiornate per routes (inizio) -->
	<xsd:complexType name="routesL2_RelStructure">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="Route" type="RouteL2_VersionStructure"/>
		</xsd:choice>
		<xsd:attributeGroup ref="ModificationSetAttributeGroup"/>
	</xsd:complexType>
	<xsd:complexType name="RouteL2_VersionStructure">
		<xsd:sequence>
			<xsd:group ref="LinkSequenceElementGroupL2"/>
			<xsd:element ref="LineRef" minOccurs="0"/>
			<xsd:element ref="DirectionType" minOccurs="0"/>
			<xsd:element ref="DirectionRef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a DIRECTION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pointsInSequence" type="routePointsInSequence_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ordered set of points making up a ROUTE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InverseRouteRef" type="RouteRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to the corresponding matching ROUTE in the  oppositte direction, if any.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
	</xsd:complexType>
	<xsd:group name="LinkSequenceElementGroupL2">
		<xsd:sequence>
			<xsd:group ref="DataManagedObjectElement_Group"/>
			<xsd:element ref="Name" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of LINK SEQUENCE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- aggiunto ShortName per level 2 -->
			<xsd:element ref="ShortName" minOccurs="0"/>
			<!-- aggiunto Description per level 2 -->
			<xsd:element ref="Description" minOccurs="0"/>
			<xsd:element ref="Distance" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Units are as specified
for Frame. Default is SI Metres.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- aggiunto PrivateCode per level 2 -->
			<xsd:element ref="PrivateCode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- versioni aggiornate per routes (fine) -->
	<!-- versioni aggiornate per lines (fine) -->
	<xsd:complexType name="linesL2_RelStructure">
		<xsd:choice>
			<xsd:element name="Line" type="LineL2Structure" maxOccurs="unbounded"/>
			<xsd:element ref="FlexibleLine" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A group of FLEXIBLE ROUTEs of which is generally known to the public by a similar name or number and which have common booking arrangements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
		<xsd:attributeGroup ref="ModificationSetAttributeGroup"/>
	</xsd:complexType>
	<xsd:complexType name="LineL2Structure">
		<xsd:sequence>
			<xsd:group ref="DataManagedObjectElement_Group"/>
			<xsd:group ref="LineGroupL2"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
	</xsd:complexType>
	<xsd:group name="LineGroupL2">
		<xsd:sequence>
			<xsd:element ref="Name"/>
			<xsd:element ref="ShortName" minOccurs="0"/>
			<xsd:element ref="Description" minOccurs="0"/>
			<xsd:element name="TransportMode" type="AllVehicleModesOfTransportEnumeration" minOccurs="0"/>
			<xsd:element ref="TransportSubmode" minOccurs="0"/>
			<xsd:element ref="Url" minOccurs="0"/>
			<xsd:element ref="PublicCode" minOccurs="0"/>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
			<xsd:choice minOccurs="0">
				<xsd:element ref="OperatorRef"/>
				<xsd:element ref="AuthorityRef"/>
			</xsd:choice>
			<xsd:element ref="additionalOperators" minOccurs="0"/>
			<xsd:element name="otherModes" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additional transport MODEs for LINE.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="ModeRef" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element ref="TypeOfLineRef" minOccurs="0"/>
			<xsd:element name="Monitored" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether real-time data is normally available for LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="routes" type="routeRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Not required in EPIP as data may not be available. However note that it is possible to align with SERVICE PATTERN, thus using the SCHEDULED STOP POINTs as a base for creating ROUTE POINTs, the POINTs IN JOURNEY
PATTERN for POINTs ON ROUTE, and the SERVICE LINKs for ROUTE LINKs </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- aggiunto RepresentedByGroupRef per level 2 -->
			<xsd:element ref="RepresentedByGroupRef" minOccurs="0"/>
			<xsd:element ref="Presentation" minOccurs="0"/>
			<xsd:element ref="AccessibilityAssessment" minOccurs="0"/>
			<xsd:element ref="allowedDirections" minOccurs="0"/>
			<xsd:element name="noticeAssignments" type="noticeAssignments_RelStructure" minOccurs="0"/>
			<xsd:element name="documentLinks" type="infoLinks_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Timetable documents associated with the LINE, e.g pdf files</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- versioni aggiornate per lines (fine) -->
	<!-- versioni aggiornate per destinationDisplays (inizio) -->
	<xsd:complexType name="destinationDisplaysL2_RelStructure">
		<xsd:sequence>
			<xsd:element name="DestinationDisplay" type="DestinationDisplayL2_VersionStructure" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="ModificationSetAttributeGroup"/>
	</xsd:complexType>
	<xsd:complexType name="DestinationDisplayL2_VersionStructure">
		<xsd:sequence>
			<xsd:group ref="DataManagedObjectElement_Group"/>
			<!-- aggiunto Name per level 2 -->
			<xsd:element ref="Name" minOccurs="0"/>
			<!-- aggiunto ShortName per level 2 -->
			<xsd:element ref="ShortName" minOccurs="0"/>
			<xsd:element name="SideText" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of destination to show on side of VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FrontText" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of destination to show on front of VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PublicCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Public code to show for Destination.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="vias" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Headings that distinguish the route by which the service runs to the Destination  Name .</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="variants" type="destinationDisplayVariants_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DEITINATION DISPLAY VARIANT for DESTINATION DISPLAY. Variants may  be for use in a specifc context or on a specifc media, or a combination of both.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
	</xsd:complexType>
	<!-- versioni aggiornate per destinationDisplays (fine) -->
	<!-- versioni aggiornate per scheduledStopPoints (inizio) -->
	<xsd:complexType name="scheduledStopPointsL2_RelStructure">
		<xsd:sequence>
			<xsd:element name="ScheduledStopPoint" type="ScheduledStopPointL2_VersionStructure" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="ModificationSetAttributeGroup"/>
	</xsd:complexType>
	<xsd:complexType name="ScheduledStopPointL2_VersionStructure">
		<xsd:sequence>
			<xsd:group ref="PointElementGroup"/>
			<xsd:element name="TimingPointStatus" type="TimingPointStatusEnumeration" minOccurs="0"/>
			<!-- aggiunto stopAreas per level 2 -->
			<xsd:element name="stopAreas" type="stopAreaRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether by default a passenger can alight at SCHEDULED STOP POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tariffZones" type="tariffZoneRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TARIFF ZONEs for SCHEDULED STOP POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ShortName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short name of SCHEDULED STOP POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Description" minOccurs="0"/>
			<xsd:element name="PublicCode" type="PrivateCodeStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A PUBLIC code that uniquely identifies the STOP POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
			<xsd:element name="StopType" type="StopTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Categorisation of SCHEDULED STOP POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Presentation" type="PresentationStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Presentation values to use when rendering STOP POINT such as a colour. and font.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- aggiunto VehicleModes per level 2 -->
			<xsd:element name="VehicleModes" type="VehicleModeListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TRANSPORT MODE or MODES of STOP POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
	</xsd:complexType>
	<xsd:complexType name="stopAreaRefs_RelStructure">
		<xsd:sequence>
			<xsd:element name="StopAreaRef" type="StopAreaRefStructure" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="ModificationSetAttributeGroup"/>
	</xsd:complexType>
	<xsd:complexType name="StopAreaRefStructure">
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString">
				<xsd:attributeGroup ref="VersionOfObjectRefAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- versioni aggiornate per scheduledStopPoints (fine) -->
	<!-- versioni aggiornate per serviceLinks (inizio) -->
	<xsd:complexType name="serviceLinksL2_RelStructure">
		<xsd:sequence>
			<xsd:element name="ServiceLink" type="ServiceLinkL2_VersionStructure" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="ModificationSetAttributeGroup"/>
	</xsd:complexType>
	<xsd:complexType name="ServiceLinkL2_VersionStructure">
		<xsd:sequence>
			<xsd:group ref="DataManagedObjectElement_Group"/>
			<xsd:element ref="Name" minOccurs="0"/>
			<xsd:element ref="Distance" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Length of LINK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="gml:LineString" minOccurs="0"/>
			<xsd:element ref="FromPointRef">
				<xsd:annotation>
					<xsd:documentation>Identifier of SCHEDULED STOP POINT from which Link starts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ToPointRef">
				<xsd:annotation>
					<xsd:documentation>Identifier of SCHEDULED STOP POINT at which Link ends.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- aggiunto VehicleMode per level 2 -->
			<xsd:element ref="VehicleMode" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
	</xsd:complexType>
	<!-- versioni aggiornate per serviceLinks (fine) -->
	<!-- versioni aggiornate per stopAreas (inizio) -->
	<xsd:complexType name="stopAreas_RelStructure">
		<xsd:sequence>
			<xsd:element name="StopArea" type="StopArea_VersionStructure" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="ModificationSetAttributeGroup"/>
	</xsd:complexType>
	<xsd:complexType name="StopArea_VersionStructure">
		<xsd:sequence>
			<xsd:group ref="GroupOfEntitiesElementGroup"/>
			<xsd:group ref="GroupOfPointsGroup"/>
			<xsd:element ref="gml:Polygon" minOccurs="0"/>
			<xsd:element ref="PublicCode" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
	</xsd:complexType>
	<xsd:group name="GroupOfPointsGroup">
        <xsd:annotation>
            <xsd:documentation>Elements for a GROUP OF POINTs.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="members" type="pointRefs_RelStructure" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>POINTs in GROUP OF POINTs.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
	<xsd:complexType name="pointRefs_RelStructure">
		<xsd:sequence>
			<xsd:element ref="ScheduledStopPointRef" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="ModificationSetAttributeGroup"/>
	</xsd:complexType>
	<!-- versioni aggiornate per stopAreas (fine) -->
	<!-- versioni aggiornate per connections (inizio) -->
	<xsd:complexType name="connectionsL2Structure">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="Connection" type="ConnectionL2_VersionStructure"/>
			<xsd:element ref="DefaultConnection">
				<xsd:annotation>
					<xsd:documentation>At the most general level, a DEFAULT CONNECTION sets a default time for a transfer between modes on any
SITE, to be used if there is no more specific value for an individual site. It is of particular interest for journey
planners when connection times are not provided. The from and to attribute can refer the same place,
therefore meaning that the default connection information is valid for all connections internal to the
referenced place.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="SiteConnection">
				<xsd:annotation>
					<xsd:documentation>The SITE CONNECTION is similar to the CONNECTION but describes the physical (spatial) possibility for a
passenger to go from a site (STOP PLACE or POINT OF INTEREST in the EPIP) to another.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="ConnectionL2_VersionStructure">
		<xsd:sequence>
			<xsd:group ref="DataManagedObjectElement_Group"/>
			<xsd:group ref="TransferGroup"/>
			<!-- aggiunto minOccurs="0" per level 2 -->
			<xsd:element name="From" type="ConnectionEndStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Origin end of CONNECTION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- aggiunto minOccurs="0" per level 2 -->
			<xsd:element name="To" type="ConnectionEndStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Destination end of CONNECTION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
	</xsd:complexType>
	<!-- versioni aggiornate per connections (fine) -->
	<!-- versioni aggiornate per stopAssignments (inizio) -->
	<xsd:complexType name="stopAssignmentsL2Structure">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="PassengerStopAssignment" type="PassengerStopAssignmentL2_VersionStructure"/>
			<xsd:element ref="DynamicStopAssignment">
				<xsd:annotation>
					<xsd:documentation>A DYNAMIC STOP ASSIGNMENT in effect specifies a change to another PASSENGER STOP ASSIGNMENT, for
exampel to make a platform (QUAY) change; it may apply to all journeys at the SCHEUDLED STOP POINT or
to just the journeys following a particular JOURNEY PATTERN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TrainStopAssignment"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="PassengerStopAssignmentL2_VersionStructure">
		<xsd:sequence>
			<xsd:group ref="DataManagedObjectElement_Group"/>
			<!-- aggiunto Description per level 2 -->
			<xsd:element ref="Description" minOccurs="0"/>
			<xsd:group ref="PassengerStopAssignmentContentGroup"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
		<xsd:attribute name="order" type="xsd:integer" use="required">
			<xsd:annotation>
				<xsd:documentation>EPIP: Mandatory in StopAssignment</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<!-- versioni aggiornate per stopAssignments (fine) -->
	<!-- versioni aggiornate per journeyPatterns (inizio) -->
	<xsd:complexType name="journeyPatternsL2Structure">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="ServiceJourneyPattern" type="JourneyPatternL2_VersionStructure"/>
		</xsd:choice>
		<xsd:attributeGroup ref="ModificationSetAttributeGroup"/>
	</xsd:complexType>
	<xsd:complexType name="JourneyPatternL2_VersionStructure">
		<xsd:sequence>
			<xsd:group ref="LinkSequenceElementGroupL2"/>
			<xsd:choice>
				<xsd:annotation>
					<xsd:documentation>EPIP documentation indicates that this should be mandatory.</xsd:documentation>
				</xsd:annotation>
				<xsd:element ref="RouteRef"/>
				<xsd:element name="RouteView" type="RouteViewL2Structure"/>
			</xsd:choice>
			<xsd:element ref="DirectionType" minOccurs="0"/>
			<xsd:choice minOccurs="0">
				<xsd:element ref="DirectionRef" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>EPIP: Only provide for filtering purposes, not description.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DirectionView" type="DirectionViewStructure"/>
			</xsd:choice>
			<xsd:choice minOccurs="0">
				<xsd:element ref="DestinationDisplayRef" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Reference to DESTINATION DISPLAY.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DestinationDisplayView" type="DestinationDisplayView_VersionStructure">
					<xsd:annotation>
						<xsd:documentation>Destination / Direction name for JOURNEY PATTERN.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="pointsInSequence" type="stopPointsInSequenceL2_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Sequence of points in JOURNEY PATTERN Points may be SCHEDULED STOP POINTs or TIMING POINTs. Note that in EPIP there are no TIMING POINTs that are not also SCHEDULED STOP POINTs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="linksInSequence" type="linksInSequenceL2_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ordered collection of LINKS  making up the SERVICE PATTERN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ServiceJourneyPatternType" type="ServiceJourneyPatternTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of SERVICE JOURNEY PATTERN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
	</xsd:complexType>
	<xsd:complexType name="RouteViewL2Structure">
		<xsd:sequence>
			<!-- aggiunto VehicleMode per level 2 -->
			<xsd:element ref="VehicleMode" minOccurs="0"/>
			<xsd:element ref="LineRef"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:normalizedString" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="DirectionViewStructure">
		<xsd:sequence>
			<xsd:element ref="BrandingRef" minOccurs="0"/>
			<xsd:element ref="DirectionRef" minOccurs="0"/>
			<xsd:element ref="Name" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:normalizedString" use="optional"/>
	</xsd:complexType>
	<xsd:simpleType name="ServiceJourneyPatternTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for TYPE OF SERVICE JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="passenger"/>
			<xsd:enumeration value="garageRunOut">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is considered a possible connection between journeys.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="garageRunIn">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is advertised to public as a possible connection between journeys.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="turningManoeuvre">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is actively managed as a possible connection between journeys and passengers are informed of real-time alterations.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="stopPointsInSequenceL2_RelStructure">
		<xsd:sequence>
			<!-- aggiunto ValidBetween per level 2 -->
			<xsd:group ref="DataManagedObjectElement_Group"/>
			<xsd:choice>
				<xsd:element name="StopPointInJourneyPattern" type="StopPointInJourneyPatternL2Structure" minOccurs="2" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:Name"/>
	</xsd:complexType>
	<xsd:complexType name="StopPointInJourneyPatternL2Structure">
		<xsd:sequence>
			<!-- aggiunto ValidBetween per level 2 -->
			<xsd:group ref="DataManagedObjectElement_Group"/>
			<xsd:element ref="LinkSequenceRef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to LINK SEQUENCE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Description" minOccurs="0"/>
			<xsd:element ref="ScheduledStopPointRef">
				<xsd:annotation>
					<xsd:documentation>Reference to SCHEDULED STOP POINT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OnwardServiceLinkRef" type="ServiceLinkRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Next SERVICE LINK after STOP POINT in JOURNEY
PATTERN visit.                EPIP:   
This attribute shall only be used if multiple SERVICE
LINKs are available between two consecutive
SCHEDULED STOP POINTs (otherwise the sequence of
STOP POINTs IN JOURNEY PATTERN SCHEDULED
STOP POINT is sufficient and remains the main way of
describing the stop sequence in the EPIP).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ForAlighting" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether alighting is allowed at the stop. Default is true.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ForBoarding" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether boarding is allowed at the stop. Default is true.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element ref="DestinationDisplayRef" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Reference to a DESTINATION DISPLAY.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element ref="FlexiblePointProperties" minOccurs="0"/>
			<xsd:element ref="ChangeOfDestinationDisplay" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether DESTINATION DISPLAY should be updated at this point. If DESTINATION NAME value is different from Previous stop this is implicit.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="noticeAssignments" type="noticeAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>NOTICEs for POINT IN JOURNEY PATTERN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="RequestStop" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether stop is a request stop for this journey. Default is false.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RequestMethod" type="RequestMethodTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Method to Request Stop in this particular service pattern; if none specified, as as per stop.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StopUse" type="StopUseEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of use of stop, e.g. access, interchange only, or pass through. Default is Access.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BookingArrangements" type="BookingArrangementsStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Booking Arrangements for stop if different from those for SERVICE JOURNEY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="EntityAttributeGroup"/>
		<xsd:attribute name="order" type="xsd:integer"/>
	</xsd:complexType>
	<xsd:complexType name="linksInSequenceL2_RelStructure">
		<xsd:sequence>
			<xsd:element name="ServiceLinkInJourneyPattern" type="ServiceLinkInJourneyPatternL2Structure" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:normalizedString"/>
	</xsd:complexType>
	<xsd:complexType name="ServiceLinkInJourneyPatternL2Structure">
		<xsd:sequence>
			<!-- aggiunto Description per level 2 -->
			<xsd:element ref="Description" minOccurs="0"/>
			<xsd:element ref="ServiceLinkRef"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="EntityAttributeGroup"/>
		<xsd:attribute name="order" type="xsd:integer" use="optional"/>
	</xsd:complexType>
	<!-- versioni aggiornate per journeyPatterns (fine) -->
	<!-- versioni di Service e figli con route modificato (presi da epip) (fine) -->
	<!-- versioni di Timetable e figli con ServiceJourney modificate (presi da epip) (inizio) -->
	<xsd:complexType name="TimetableFrameL2_VersionStructure">
		<xsd:sequence>
			<xsd:group ref="VersionFrameGroup" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="vehicleJourneys" type="vehicleJourneysL2Structure" minOccurs="0"/>
			<xsd:element ref="groupsOfServices" minOccurs="0"/>
			<xsd:element name="trainNumbers" type="trainNumbers_RelStructure" minOccurs="0"/>
			<xsd:element ref="journeyPartCouples" minOccurs="0"/>
			<xsd:element name="typesOfService" type="typesOfService_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TYPEs of SERVICE in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="journeyInterchanges" minOccurs="0"/>
			<xsd:element ref="vehicleTypes" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
	</xsd:complexType>
	<!-- versioni aggiornate per vehicleJourneys (fine) -->
	<xsd:complexType name="vehicleJourneysL2Structure">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="ServiceJourney" type="ServiceJourneyL2_VersionStructure"/>
			<xsd:element ref="TemplateServiceJourney"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="ServiceJourneyL2_VersionStructure">
		<xsd:sequence>
			<xsd:group ref="LinkSequenceElementGroupL2"/>
			<xsd:group ref="JourneyBaseContentGroupL2"/>
			<xsd:group ref="ServiceJourneyGroupL2"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
	</xsd:complexType>
	<xsd:group name="JourneyBaseContentGroupL2">
		<xsd:sequence>
			<xsd:element name="TransportMode" type="AllVehicleModesOfTransportEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MODE of transport of JOURNEY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TransportSubmode" minOccurs="0"/>
			<!-- aggiunto TypeOfServiceRef per level 2 -->
			<xsd:element name="TypeOfServiceRef" type="TypeOfServiceRefStructure" minOccurs="0"/>
			<!-- aggiunto journeyAccountings per level 2 -->
			<xsd:element name="journeyAccountings" type="journeyAccountings_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>JOURNEY ACCOUNTING to be used to attribute JOURNEY costs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="noticeAssignments" type="noticeAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>NOTICEs relevant for this Journey.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="journeyAccountings_RelStructure">
		<xsd:sequence>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element ref="JourneyAccountingRef"/>
				<xsd:element ref="JourneyAccounting"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attributeGroup ref="ModificationSetAttributeGroup"/>
	</xsd:complexType>
	<xsd:group name="ServiceJourneyGroupL2">
		<xsd:sequence>
			<xsd:group ref="ServiceTimeGroup" minOccurs="0"/>
			<xsd:element name="dayTypes" type="dayTypes2Structure" minOccurs="0"/>
			<xsd:group ref="JourneyPatternRefGroup">
				<xsd:annotation>
					<xsd:documentation>Mandatory in EPIP</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<!-- TODO capire se è posizionato giusto -->
			<!-- aggiunto PublicCode per level 2 -->
			<xsd:element ref="PublicCode" minOccurs="0"/>
			<!-- aggiunto choice con TrainRef per level 2 -->
			<xsd:choice minOccurs="0">
				<xsd:element ref="VehicleTypeRef"/>
				<xsd:element ref="TrainRef"/>
			</xsd:choice>
			<xsd:element ref="OperatorRef" minOccurs="0"/>
			<!-- aggiunto choice con LineView per level 2 -->
			<xsd:choice minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>LINE followed by SERVICE JOURNEY Use view to get derived values.</xsd:documentation>
				</xsd:annotation>
				<xsd:element ref="LineRef"/>
				<xsd:element name="LineView" type="LineViewStructure"/>
				<xsd:element ref="FlexibleLineView"/>
			</xsd:choice>
			<!-- aggiunto DirectionType per level 2 -->
			<xsd:element ref="DirectionType" minOccurs="0"/>
			<xsd:element name="JourneyPatternView" type="JourneyPatternViewStructure" minOccurs="0"/>
			<xsd:element name="trainNumbers" type="trainNumberRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TRAIN NUMBER(s) associated with SERVICE JOURNEY or part of the SERVICE JOURNEY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="passingTimes" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Mandatory in EPIP.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parts" type="journeyParts_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>In the EPIP, the JOURNEY PARTs should be embedded in-line with their parent SERVICE JOURNEY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="facilities" type="serviceFacilitiesL2_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Facilities available associated with JOURNEY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TrainSize" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Requirements for TRAIN SIZE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="FlexibleServiceProperties" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="LineViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for LINE VIEW.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="BrandingRef" minOccurs="0"/>
			<xsd:element ref="LineRef" minOccurs="0"/>
			<xsd:element name="PublicCode" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifier of LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short name of LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TransportMode" type="AllVehicleModesOfTransportEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TRANSPORT MODE of LINE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TransportSubmode" minOccurs="0"/>
			<xsd:element ref="OperatorRef" minOccurs="0"/>
			<xsd:element ref="TypeOfLineRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="JourneyPatternViewStructure">
		<xsd:annotation>
			<xsd:documentation>Simplified view of a JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="BrandingRef" minOccurs="0"/>
			<xsd:element name="JourneyPatternRef" type="JourneyPatternRefStructure" minOccurs="0"/>
			<xsd:choice>
				<xsd:annotation>
					<xsd:documentation>EPIP documentation indicates that this should be mandatory.</xsd:documentation>
				</xsd:annotation>
				<xsd:element ref="RouteRef"/>
				<xsd:element name="RouteView" type="RouteViewL2Structure"/>
			</xsd:choice>
			<xsd:element ref="DirectionType" minOccurs="0"/>
			<xsd:choice minOccurs="0">
				<xsd:element ref="DirectionRef" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>EPIP: Only provide for filtering purposes, not description.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DirectionView" type="DirectionViewStructure"/>
			</xsd:choice>
			<xsd:choice minOccurs="0">
				<xsd:element ref="DestinationDisplayRef" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Reference to DESTINATION DISPLAY.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DestinationDisplayView" type="DestinationDisplayView_VersionStructure">
					<xsd:annotation>
						<xsd:documentation>Destination / Direction name for JOURNEY PATTERN.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="JourneyPatternRefStructure">
        <xsd:simpleContent>
            <xsd:extension base="xsd:normalizedString">
				<xsd:attributeGroup ref="VersionOfObjectRefAttributeGroup"/>
			</xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
	<xsd:complexType name="TypeOfServiceRefStructure">
        <xsd:simpleContent>
            <xsd:extension base="xsd:normalizedString">
				<xsd:attributeGroup ref="VersionOfObjectRefAttributeGroup"/>
			</xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
	<!-- versioni aggiornate per vehicleJourneys (fine) -->
	<!-- versioni aggiunte per typesOfService (inizio) -->
	<xsd:complexType name="typesOfService_RelStructure">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="TypeOfService" type="TypeOfService_VersionStructure"/>
		</xsd:choice>
		<xsd:attributeGroup ref="ModificationSetAttributeGroup"/>
	</xsd:complexType>
	<xsd:complexType name="TypeOfService_VersionStructure">
		<xsd:sequence>
			<xsd:group ref="TypeOfValueElementGroup"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="DataManagedObjectAttributeGroup"/>
	</xsd:complexType>
	<xsd:group name="TypeOfValueElementGroup">
		<xsd:sequence>
			<xsd:group ref="DataManagedObjectElement_Group"/>
			<xsd:element ref="Name" minOccurs="0"/>
			<xsd:element ref="ShortName" minOccurs="0"/>
			<xsd:element ref="Description" minOccurs="0"/>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- versioni aggiunte per typesOfService (fine) -->
	<!-- versioni di Timetable e figli con ServiceJourney modificate (presi da epip) (fine) -->
	<!--
	<xsd:complexType name="OperatorRefL2Structure">
		<xsd:simpleContent>
			<xsd:extension base="OrganisationRefStructure">
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	-->
</xsd:schema>
